.toolbar{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #000;
    background: #2A5275;
    padding: 12px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 50;
}

.toolbarItem{
    display: flex;
    flex-direction: column;
    align-items: center;

    span{
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        color: #BFCBD6;
    }

    &:not(:first-child){
        margin-left: 65px;
    }
}
